<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{sitename}} - {{pageTitle}}</title>
		{% include 'head.twig' %}
	</head>
	<body>
		{% include 'navigation.twig' %}
		<div class="container">
			<figure class="text-center">
				<blockquote class="blockquote">
					<p>"Time is what we want most but what we use worst."</p>
				</blockquote>
				<figcaption class="blockquote-footer"> William Penn </figcaption>
			</figure>
			<hr>
			<h3> That's why you should use your time better! <small class="text-body-secondary">Buy a watch now!</small>
			</h3>
		</div>
		<br>
		{% include 'footer.twig' %}
	</body>
</html>