<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site_name}} - {{page_title}}</title>
    {% include 'head.twig' %}
</head>
<body>
    {% include 'navigation.twig' %}
    <div class="container py-5">
        <h1 class="h2">Error!</h1>
        <p>This file should be accessed only by existing items based on their ID.</p>
        <hr>
        <div class="alert alert-danger" role="alert">
            Oups! It looks like you are trying to access an item that doesn't exist.
        </div>
    </div>
    {% include 'footer.twig' %}
</body>
</html>