<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site_name}} - {{page_title}}</title>
    {% include 'head.twig' %}
</head>
<body>
    {% include 'navigation.twig' %}
    <div class="container py-5">
        <h1 class="h2">C.R.U.D <small>(Create, Read, Update, Delete)</small></h1>
        <p>Creating a CRUD system (Create, Read, Update, Delete) in PHP involves building a simple web application that interacts with a database to perform these operations. Here's a step-by-step guide to create a basic CRUD system using PHP and MySQL.</p>
        <hr>
        <p>As usual, I will use PDO for database querying & Twig as template engine.<br>I've added an extra page 'Products' with the current products we will manage using the 3 forms.<br><br>Created with <span class='text-danger'>♥</span> by Criminus.</p>
    </div>
    {% include 'footer.twig' %}
</body>
</html>